---
sudo: required
language: python
services:
  - docker
install:
  - pip install molecule[docker] testinfra>=3.0.0
script:
  - molecule test
notifications:
  webhooks: https://galaxy.ansible.com/api/v1/notifications/
